# extra configs unrelated to the ricing

autostart
beekeeper-studio
betterlockscreen
BraveSoftware
caja
catfish
cava
celluloid
chromium
Code
compiz-1
conky
dconf
discord
Electron
enchant
eog
evince
evolution
gnome-initial-setup-done
gnome-session
GNOME-xdg-terminals.list
goa-1.0
.gsd-keyboard.settings-ported
gtk-3.0
gtk-4.0
ibus
kitty
launch_polybar.sh
libreoffice
lock-on-lid.sh
matplotlib
menus
mimeapps.list
nautilus
neofetch
pulse
QtProject.conf
racket
systemd
Thunar
totem
ubuntu-xdg-terminals.list
user-dirs.dirs
user-dirs.locale
VirtualBox
xdg-terminals.list
xed
xviewer
yelp
